fastapi==0.115.8    # Сам веб-фреймворк
websockets==15.0    # Библиотека для работы с WebSocket
uvicorn==0.34.0     # ASGI сервер для запуска приложения
jinja2==3.1.5       # Шаблонизатор для рендеринга HTML